body {
  background: url("bg3.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 40%;
  background-color: #9c9c9c;
  padding: 20px;
  border-radius: 11px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.form-group button {
  width: 100%;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
}

.form-group button:hover {
  background-color: #464646;
}

p {
  font-size: 16px;
  text-align: center;
}